<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
  <div class="row mb-2">
    <div class="col-3 fw-bold">Media Id</div>
    <div class="col-9">: {{postData.mediaId}}</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 fw-bold">Article Title</div>
    <div class="col-9">: {{postData.article_Title}}</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 fw-bold">Source</div>
    <div class="col-9">: {{postData.source}}</div>
  </div>
  <div class="row">
    <div class="col-3 fw-bold">URL</div>
    <div class="col-9">:	{{postData.url}}</div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>