<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
  <div class="row mb-2">
    <div class="col-3 fw-bold">Media Id</div>
    <div class="col-9">: 33</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 fw-bold">Source</div>
    <div class="col-9">: Harvard Buisness School</div>
  </div>
  <div class="row">
    <div class="col-3 fw-bold">URL</div>
    <div class="col-9">:	https://www.aninews.in/news/business/iit-jodhpur-inks-mou-with-whizhack-technologies-for-setting-up-centre-of-excellence-in-cyber-security-and-ai20201222134904/</div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>