<div class="container my-3">
    <div class="row">
      <div class="col-md-12">
            <form >
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>article_Title</mat-label>
                            <input matInput placeholder="article_Title">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>source</mat-label>
                            <input matInput placeholder="source">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>url</mat-label>
                            <input matInput placeholder="url">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-end">
                        <button mat-raised-button type="submit" color="primary" class="mt-2">Add</button>
                    </div>
                </div>
            </form>
      </div>
    </div>
</div>